*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

//Toggle on and off dark mode
:root{
    //You can do a variable for anything; but we're mostly going to do colors
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-gray0: #f8f8f8;
    --color-gray-1: #dbe1e8;
    --color-gray-2: #b2becd;
    --color-gray-3: #6c7983;
    --color-gray-4: #454e56;
    --color-gray-5: #2a2e35;
    --color-gray-6: #12181b;
    --br-sm-2: 14px;

    //Variables for transition delay
    --transition-speed: all .4s ease-in-out;

    //Box shadow
    //0 Pixels on x axis | 3 pixels y axis | 15 pixels for the glare? | opacity at 0.3
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);

}//end root

body{
    //set background color
    background-color: var(--color-primary);

    // Added font family name from google fonts
    font-family: 'Poppins', sans-serif;

    // Set default font size
    font-size: 1.1rem;

    //set default color white; mostly for text
    color: var(--color-white);

    //set transition
    transition: var(--transition-speed);

}//end body

a{
    display: inline-block;
    text-decoration: none;

    //Inherit color from body
    color: inherit;

    //inherit font family from body
    font-family: inherit;
}//end a

header{
    //Set style for all headers
    height: 100vh;
    color: var(--color-white);
    //Hide any color that overflows
    overflow: hidden;

}//end header

section{
    //Set the style for all sections
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}//end section

//Section class
.section {
    //Default, we want these to be off screen; hence -100%
    transform: translateY(-100%) scale(0);
    transition: var(--transition-speed);
    background-color: var(--color-primary);
}

/* FOR LATER:
    GIVE EACH SECTION A DIFFERENT BACKGROUND COLOR EVENTUALLY
*/

//Presets for section 1
.sec1{
    //We want to display nothing at first
    display: none;

    //Once we go back to the default place; it scales all the way back to 1
    //scaling works form 0 to 1
    transform: translateY(0) scale(1);
}

//Presets for section 2
.sec2{
    //We want to display nothing at first
    display: none;

    //Once we go back to the default place; it scales all the way back to 1
    //scaling works form 0 to 1
    transform: translateY(0) scale(1);
}

//Presets for section 3
.sec3{
    //We want to display nothing at first
    display: none;

    //Once we go back to the default place; it scales all the way back to 1
    //scaling works form 0 to 1
    transform: translateY(0) scale(1);
}

//Presets for section 4
.sec4{
    //We want to display nothing at first
    display: none;

    //Once we go back to the default place; it scales all the way back to 1
    //scaling works form 0 to 1
    transform: translateY(0) scale(1);
}

//Presets for section 5
.sec5{
    //We want to display nothing at first
    display: none;

    //Once we go back to the default place; it scales all the way back to 1
    //scaling works form 0 to 1
    transform: translateY(0) scale(1);
}

//Target the controls
.controls{
    //Parent container
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //Center on the y axis
    transform: translateY(-50%);

    //Target the control class
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-gray-4);
        //Width and height have to be the same if you want to move something rounded
        width: 55px;
        height: 55px;
        border-radius: 50%;

        //Center icons within circles
        display: flex;
        justify-content: center;
        align-items: center;

        //Spacing in between icons
        margin: .7rem 0;
        
        //implement box shadow
        box-shadow: var(--box-shadow-1);


    }
    
}